<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/theme.css">
	<title>LOOK</title>

	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
	</script>

</head>
<script type="text/javascript" src="javascripts/fun.js"></script>

<body id="xx">
	<h1>服务器监控系统</h1>
	<h2>
		<div id="ser1" class="ser">
			<span id="sname">服务器</span>
			<div id='featurename'>cpu</div>
			<div id="time">时间</div>
			<div id="val">值</div>
		</div>

		<div id="ser2" class="ser">
			<span id="sname">服务器</span>
			<div id='featurename'>cpu</div>
			<div id="time">时间<s/div> <div id="val">值</div>
		</div>
	</h2>
	<h3>
		<button type="button" id="ss">运行</button>
	</h3>
	<h4><div id="add">add</div></h4>
</body>

</html>