#xx{
    background-image:url("/images/2.jpg");
    background-size: cover;
    
}
h1{
    font-style: italic;
    color: rgb(192, 182, 38);
    margin: 30px;
    text-align: center;
}
#ser1{
  
    /* background-image: url("./001.jpg"); */
    /* background-size: cover; */
    /* background-color:rgb(141, 235, 196); */
    /* color:white; */
  
    padding:0px;
    position: relative;
    float: left;
    background-image: url('/images/1.jpg'); 
    left: 100px;
    background-size: cover;
    /* position: absolute; */
}
#ser2{
    float: right;
    background-image: url('/images/1.jpg'); 
    right: 100px;
    background-size: cover;
    /* position: relative; */
}
.ser{
    margin-top: 50px;
    top: 20%;
    width: 400px;
    height: 400px;
    position: relative;
}
#sname{
    /* font: 1em sans-serif; */
    /* display: inline-block; */
    text-align: center;
}
#ss{
    color: antiquewhite;
}
#logout{
    left: 90%;
    position: relative;
}
#deluser{
    left: 90%;
    position: relative;
}
#img_1{
    width: 400px;
	height: 400px;
}