#xx{
    background-image:url("/images/2.jpg");
    background-size: cover;
    
}
h1{
    font-style: italic;
    color: rgb(192, 182, 38);
    margin: 30px;
    text-align: center;
}
#ser1{
    float: left;
    background-image: url('/images/1.jpg'); 
    left: 100px;
    position: relative;
}
#ser2{
    float: right;
    background-image: url('/images/1.jpg'); 
    right: 100px;
    position: relative;
}
.ser{
    margin-top: 50px;
    top: 20%;
    width: 400px;
	height: 500px;
}
#sname{
    /* font: 1em sans-serif; */
    /* display: inline-block; */
    text-align: center;
}
#ss{
    color: antiquewhite;
}